html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10vh auto 10vh;
      grid-template-rows: 10vh auto 10vh;
      grid-template-areas: "header" "content" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-row-align: center;
      align-self: center;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto 10vh;
      grid-template-rows: auto 10vh;
}

section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

article {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 1 / 4;
  -ms-grid-rows: 10vh auto 10vh;
      grid-template-rows: 10vh auto 10vh;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.pagination {
  -ms-grid-column: 6;
  -ms-grid-column-span: -4;
  grid-column: 6 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vh;
      grid-template-rows: 5vh;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.pagination .new {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.pagination .old {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}
