// Colors
$dark: #202731;
$light: #eeeeee;
$links: #4cb2d4;
$linksvisited: #08759a;
$linksvisiteddark: #6f98c5;
// Font
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
// Root Elements and Features
:root {
    :focus {
        outline: solid 1px $links;
    }
}
html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
picture, img {
    max-width: 100%;
    height: auto;
}
// Main Content
body {
    font-family: Roboto;
    background: $light;
    color: $dark;
    line-height: 1.4em;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh auto 10vh;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}
header {
    grid-area: header;
    padding: 1rem;
    text-align: center;
}
main {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 2rem;
}
section {
    grid-column: 2 / 4;
}
article {
    grid-area: 1 / 2 / 1 / 4;
    grid-template-rows: 10vh auto 10vh;
}
footer {
    grid-area: footer;
    padding: 1rem;
    text-align: center;
}
// Font Styling
h1 {
    font-weight: 900;
}
h2 {
    font-weight: 700;
}
a {
    color: $links;
    &:visited {
        color: $linksvisited;
    }
    h1 {
        color: $dark;
        text-decoration: none;
    }
}
.post-date {
    font-size: 0.75rem;
}
// Pagination
.pagination {
    grid-column: 7 / 2;
    display: grid;
    grid-template-rows: 5vh;
    grid-template-columns: repeat(2, 1fr);
    .new {
        grid-area: 1/2;
    }
    .old {
        grid-area: 1/1;
    }
}
// Visual Tweaks
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 1.5rem;
}
// Mobile
@media (max-width: 720px) {
    body, main {
        display: grid;
        grid-template-columns: auto;
    }
}
// Dark Mode
@media (prefers-color-scheme: dark) {
    body {
        background: $dark;
        color: $light;
    }
    a {
        &:visited {
            color: $linksvisiteddark;
        }
        h1 {
            color: $light;
            text-decoration: none;
        }
    }
}