// Root Elements and Features
html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
// Main Content
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
}
main {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
section {
    grid-column: 2 / 4;
}
article {
    grid-area: 1 / 2 / 1 / 4;
    grid-template-rows: 10vh auto 10vh;
}
footer {
    grid-area: footer;
}