body {
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}
header {
    grid-area: header;
}
main {
    grid-area: content;
}
footer {
    grid-area: footer;
}