<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
</head>
<body>
    <header>
        <h1>Marko Idzan's Blog</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>Copyright &copy; 2010 - 2020 | All Rights Reserved.</p>
        <p>Contact email: <a href="mailto:marko.idzan@markoidzan.com.hr">marko.idzan@markoidzan.com.hr</a> </p>
    </footer>
</body>
</html>