<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% seo %}
</head>
<body>
    <header>
        <h1>{{ page.title | uppercase }}</h1>
        {% include nav.html %}
    </header>
    <div class="container">
        <main>
            {{ content }}
        </main>
        <aside>
            {% include sidebar.html %}
        </aside>
    </div>
    <footer>
        Copyright &copy; 2010. - 2019.
    </footer>
</body>
</html>