<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    {% seo %}
</head>
<body>
    <header>
        <a href="/">
            <h1>Marko Idzan's Blog</h1>
        </a>
    </header>
    <main>
        <section>
            {{ content }}
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2010 - 2020 | All Rights Reserved.</p>
        <p>
            Contact email: <a href="mailto:marko.idzan@markoidzan.com.hr">marko.idzan@markoidzan.com.hr</a> <br>
            <a href="/privacy">Privacy Policy</a>
        </p>
    </footer>
    <script src="/js/config.js"></script>
    <script src="/js/klaro.js"></script>
</body>
</html>